body{
  background-color: #E07A5F;
}
#wsm{
  font-family: 'Orbitron', sans-serif;
  border: 2px solid #81B29A;
  border-radius: 5px;
  padding: 0 5px 0 5px;
  margin: 0px 5px 0px 5px;
}

#e-rose{
  font-family: 'Pacifico', cursive;
  border: 2px dotted #F2CC8F;
  border-radius: 5px;
  padding: 0 5px 0 5px;
  margin: 15px 5px 15px 5px;
}
#life-time{
  font-family: Andale Mono, monospace;
  border: 2px dashed #F4F1DE;
  border-radius: 5px;
  padding: 0 5px 0 5px;
  margin: 0px 5px 0px 5px;
}
h1, h2, h3 {
  color: #3D405B;
  
}

h1{
  text-align: center;
  font-size: 32px;
}
h2{
  font-size: 20px;
  margin-bottom: -10px;
}
h3{
  font-size: 15px;
}

p{
  text-align: right;
}
section{
  margin-top: -10px;
}
